*{
    font-family: 'Balsamiq Sans', cursive !important;
}
.sidebar{
    width:350px;
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    background-color: black;
    z-index: 27;
}
body{
    background-color: black !important;
    background: black !important;
}
 .slide-radio1{
    z-index: 31 !important;
    display: initial !important;
    position: fixed;
    top: 50px;
    background-color: red;
} 
.slide-radio2{
    z-index: 31 !important;
    display: initial !important;
    position: fixed;
    top: 180px;
    left: 20px;
    background-color: red;
} 
.slide-radio3{
    z-index: 31 !important;
    display: initial !important;
    position: fixed;
    top: 315px;
    left: 40px;
    background-color: red;
} 
.slide-radio4{
    z-index: 31 !important;
    display: initial !important;
    position: fixed;
    top: 440px;
    left: 60px;
    background-color: red;
} 
.slide-radio5{
    z-index: 31 !important;
    display: initial !important;
    position: fixed;
    top: 570px;
    left: 80px;
    background-color: red;
} 
.slide-radio6{
    z-index: 31 !important;
    display: initial !important;
    position: fixed;
    top: 700px;
    left: 100px;
    background-color: red;
} 
.slide-radio7{
    z-index: 31 !important;
    display: initial !important;
    position: fixed;
    top: 850px;
    left: 120px;
    background-color: red;
} 
.navi{
    display:inline;
}
/* Slider wrapper*/
  .css-slider-wrapper {
      display: block;
      background: white;
      overflow: hidden;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
  }
  /* Slider */
  .slider {
      width: 81.5vw !important;
      height: 100%;
      background: red;
      position: absolute;
      right: 0;
      top: 0;
      opacity: 1;
      z-index: 0;
      
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      flex-direction: row;
      flex-wrap: wrap;
      -webkit-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      justify-content: center;
      align-content: center;
      
      -webkit-transition: -webkit-transform 1600ms;
      transition: -webkit-transform 1600ms, transform 1600ms;
      -webkit-transform: scale(1);
      transform: scale(1);
      }
  /* each slide background color */ 
  .slide1 {
    background-color: rgb(102, 102, 102); 
      left: 0;
      margin-left: 350px;
  }
  .slide2 {
    background-color: rgb(53, 52, 52);
      left: 100%;
     
      
  }
  .slide3 {
    background-color: rgb(102, 102, 102); 
      left: 181%
  }
  .slide4 {
    background-color: rgb(53, 52, 52);
      left: 262.5%;
  }
  .slide5 {
    background-color: rgb(102, 102, 102); 
    left: 344%
}
.slide6 {
    background-color: rgb(53, 52, 52);
    left: 425.5%
}
.slide7 {
    background-color: rgb(102, 102, 102); 
    left: 507%;
}
  .slider > div {
    text-align: center;
  }
  /* Slider inner content */
  .slider h2 {
      color: #FFF;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 45px;
      line-height: 120%;
      opacity: 0;
      -webkit-transform: translateX(500px);
      transform: translateX(500px);
  }
  .slider .button {
      color: #FFF;
      
      background: rgba(216, 6, 6, 0.3);
      text-decoration: none;
      opacity: 0;
      font-size: 15px;
      line-height: 30px;
      display: inline-block;
      -webkit-transform: translateX(-500px);
      transform: translateX(-500px);
  }
  .slider h2, .slider .button {
      -webkit-transition: opacity 800ms, -webkit-transform 800ms;
      transition: transform 800ms, opacity 800ms;
      -webkit-transition-delay: 1s; /* Safari */
      transition-delay: 1s;
  }
  /* Next and previous button */ 
  .control {
      position: absolute;
      top: 50%;
      width: 50px;
      height: 50px;
      margin-top: -25px;
      z-index: 30;
  }
  .control label {
      z-index:30;
      display: none;
      text-align: center;
      line-height: 50px;
      font-size: 50px;
      color: #FFF;
      cursor: pointer;
      opacity: 0.2;
  }
  .control label:hover {
     opacity: 0.5;
  }
  .next {
    right: 1%;
  }
  .previous {
    left: 1%;
  }
  
  /* Slider pagination */ 
  .slider-pagination {
      position: absolute;
      top: 20px;
      width: 100%;
      left: 0;
      text-align: center;
      z-index: 1000;
  }
  .slider-pagination label {
      width: 20px;
      z-index: 35;
      /* padding-right: 150px; */
      padding: 30px;
      height: 20px;
      font-size: large;
      color: white;
      margin-right: 100px !important;
      margin-bottom: 50px;
      border-radius: 50%;
      display: inline-block;
      top: 0 !important;
      cursor: pointer;
      }
      
  /* Slider control active css */
  .slide-radio1:checked ~ .next .numb2, 
  .slide-radio2:checked ~ .next .numb3, 
  .slide-radio3:checked ~ .next .numb4, 
  .slide-radio4:checked ~ .next .numb5, 
  .slide-radio5:checked ~ .next .numb6, 
  .slide-radio6:checked ~ .next .numb7,
  .slide-radio2:checked ~ .previous .numb1, 
  .slide-radio3:checked ~ .previous .numb2, 
  .slide-radio4:checked ~ .previous .numb3,
  .slide-radio5:checked ~ .previous .numb4, 
  .slide-radio6:checked ~ .previous .numb5, 
  .slide-radio7:checked ~ .previous .numb6 {
      display: block;
      z-index: 1
  }
  /* Slider pagination active css */
  .slide-radio1:checked ~ .slider-pagination .page1, 
  .slide-radio2:checked ~ .slider-pagination .page2, 
  .slide-radio3:checked ~ .slider-pagination .page3, 
  .slide-radio4:checked ~ .slider-pagination .page4,
  .slide-radio5:checked ~ .slider-pagination .page5, 
  .slide-radio6:checked ~ .slider-pagination .page6, 
  .slide-radio7:checked ~ .slider-pagination .page7 {
      background: rgb(0, 0, 0)
  }
  
  /* css for sliding  effect when you click on control button*/
  .slide-radio1:checked ~ .slider {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
  }
  .slide-radio2:checked ~ .slider {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
  }
  .slide-radio3:checked ~ .slider {
      -webkit-transform: translateX(-199%);
      transform: translateX(-199%);
  }
  .slide-radio4:checked ~ .slider {
      -webkit-transform: translateX(-299%);
      transform: translateX(-299%);
  }
  .slide-radio5:checked ~ .slider {
    -webkit-transform: translateX(-399%);
    transform: translateX(-399%);
}
.slide-radio6:checked ~ .slider {
    -webkit-transform: translateX(-499%);
    transform: translateX(-499%);
}
.slide-radio7:checked ~ .slider {
    -webkit-transform: translateX(-599%);
    transform: translateX(-599%);
}
  
  .slide-radio1:checked ~ .slide1 h2, 
  .slide-radio2:checked ~ .slide2 h2, 
  .slide-radio3:checked ~ .slide3 h2, 
  .slide-radio4:checked ~ .slide4 h2,
  .slide-radio5:checked ~ .slide5 h2, 
  .slide-radio6:checked ~ .slide6 h2, 
  .slide-radio7:checked ~ .slide7 h2,
  .slide-radio1:checked ~ .slide1 .button, 
  .slide-radio2:checked ~ .slide2 .button, 
  .slide-radio3:checked ~ .slide3 .button, 
  .slide-radio4:checked ~ .slide4 .button,
  .slide-radio5:checked ~ .slide5 .button, 
  .slide-radio6:checked ~ .slide6 .button, 
  .slide-radio7:checked ~ .slide7 .button {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1
  }
  
@media only screen and (max-width: 767px) {
  .slider h2 {
      font-size: 20px;
  }
  .slider > div {
      padding: 0 2%
  }
  .control label {
      font-size: 35px;
  }
  .slider .button {
      padding: 0 30px;
  }
  }
  @import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700&display=swap');